@tailwind base;
@tailwind components;
@tailwind utilities;

.wave {
  border-radius: 0 0 50px 50px;
  background-image: linear-gradient(
    to bottom,
    #385c93,
    #2a5193,
    #1d4692,
    #133a90,
    #102d8c
  );
}

html,
body,
main,
min-height {
  height: 100vh;
}
